<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="error404-page">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <h1>HTTP 404</h1>
    <h2>Página no encontrada</h2>
  </template>

  <script>
    class Error404Page extends Polymer.Element {
      static get is() {
        return 'error404-page';
      }
    }
    customElements.define(Error404Page.is, Error404Page);
  </script>
</dom-module>
