<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-cuenta">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <iron-ajax
      id="hacerAltaCta"
      url="http://localhost:3000/api-uruguay/v1/users/{{idUsr}}/cuentas"
      method="POST"
      handle-as="json"
      body=[[body]]
      headers='{"Content-Type": "application/json"}'
      on-response="mostrarResultadoAlta"
      on-error="mostrarError">
    </iron-ajax>

    <div class="form-inline">
      <table>

        <div class="form-group">
          <tr>
            <td> <label for="inpIBAN">IBAN: </label> </td>
            <td> <input id="inpIBAN" type="text" value={{IBAN::input}} placeholder="Ingrese IBAN" required /> </td>
          </tr>
        </div>

        <div class="form-group">
          <tr>
            <td> <label for="inpMda">Moneda: </label> </td>
            <td> <input id="inpMda" type="text" value={{moneda::input}} placeholder="UYU, USD o EUR" /> </td>
          </tr>
        </div>

        <div class="form-group">
          <tr>
            <td> </td>
            <td> <button class="btn btn-primary" on-click="enviarAlta">Cuenta Nueva</button> </td>
          </tr>
        </div>
      </table>
    </div>
  </template>

  <script>
    class AltaCuenta extends Polymer.Element {
      static get is() {return 'alta-cuenta';}
      static get properties() {
        return {
          idUsr: {
            type: Number,
            value: 0
          },
          IBAN: {
            type: String
          },
          moneda: {
            type: String
          },
          body: {
            type: String
          },
          altaOK: {
            type: Boolean,
            value: false
          }
        };
      }

      mostrarResultadoAlta(resultado) {
        this.altaOK = true;
        document.getElementById("mensajes").innerHTML = "Cuenta creada correctamente...";
      }

      enviarAlta() {
        this.idUsr = window.sessionStorage.getItem(0);
        this.body = '{"IBAN": "' + this.IBAN + '", "moneda": "' + this.moneda + '"}';
        this.$.hacerAltaCta.generateRequest();
      }

      mostrarError(error) {
        console.log("Error en alta cuenta");
        console.log(error);
        this.altaOk = false;
      }
    }
    window.customElements.define(AltaCuenta.is, AltaCuenta);
  </script>
</dom-module>
