<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <iron-ajax
        id="hacerLogin"
        url="http://localhost:3000/api-uruguay/v1/login"
        method="POST"
        handle-as="json"
        body=[[body]]
        headers='{"Content-Type" : "application/json"}'
        on-response="mostrarResultadoLogin"
        on-error="mostrarError">
    </iron-ajax>

    <div class="row">
      <table>
        <tr>
          <td> Ingrese email: </td>
          <td> <input type="email" value={{email::input}} /> </td>
        </tr>

        <tr>
          <td> Ingrese contraseña: </td>
          <td> <input type="password" value={{password::input}} /> </td>
        </tr>

        <tr>
          <td></td>
          <td> <button class="btn btn-success" on-click="logar">Entrar/Login</button> </td>
        </tr>
      </table>
    </div>
    <span hidden$="{{!logado}}">Bienvenido/Welcome: [[nombre]]</span>
  </template>

  <script>

    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
      return {
        email: {
          type: String
        },
        password: {
          type: String
        },
        nombre: {
          type: String
        },
        body: {
          type: String
        },
        logado: {
          type: Boolean,
          value: false
        },
        idUsr: {
          type: Number
        }
      };
    }

    mostrarResultadoLogin(resultado) {
      console.log("4. resultados");
      this.nombre = resultado.detail.response.nombre;
      this.idUsr = resultado.detail.response.id;
      this.email = resultado.detail.response.email;

      console.log(this.nombre);
      console.log(this.idUsr);
      console.log("5. Proceso resultados");
      this.logado = true;

      document.getElementById("holaUsuario").innerHTML = "(Hola/Hello, " + this.nombre + ")";
      document.getElementById("mensajes").innerHTML = "Acceso correcto...";

      window.sessionStorage.setItem(0, JSON.stringify(this.idUsr));
      window.sessionStorage.setItem(1, JSON.stringify(this.nombre));
      window.sessionStorage.setItem(2, JSON.stringify(this.email));
    }

    logar() {
      this.body = '{"email": "' + this.email + '", "password": "' + this.password + '"}';
      this.$.hacerLogin.generateRequest();
    }

    mostrarError(error) {
      this.logado = false;
      document.getElementById("mensajes").innerHTML = "Error en login...";
    }
  }
  window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
