<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="cons-cuentas">
  <template onload="mostrarTodos()">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 80px;
      }
    </style>

    <iron-ajax
      id="obtenerCtas"
      url="http://localhost:3000/api-uruguay/v1/users/{{idUsr}}/cuentas"
      method="GET"
      handle-as="json"
      on-response="mostrarCuentas"
      on-error="mostrarTodosError">
    </iron-ajax>

    <div class="form-inline">
      <table>
        <div class="form-group">
          <tr>
            <td>
              <h1>Cuentas</h1>
            </td>
            <td> </td>
            <td> <button class="btn btn-primary" on-click="obtenerCtas">Listar</button> </td>
          </tr>
        </div>
      </table>
    </div>

    <table class="table table-striped">
      <thead>
        <th>Id</th>
        <th>IBAN</th>
        <th>Moneda</th>
        <th>Saldo</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{cuentas}}">
          <tr>
            <td>{{item.id_cuenta}}</td>
            <td>{{item.IBAN}}</td>
            <td>{{item.moneda}}</td>
            <td>{{item.saldo}}</td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>

  <script>
    class ConsCuentas extends Polymer.Element {
      static get is() {return 'cons-cuentas';}
      static get properties() {
        return {
          idUsr: {
            type: Number,
            value: 0
          },
          idCta: {
            type: Number,
            value: 0
          },
          id: {
            type: Number,
            value: 0
          },
          IBAN: {
            type: String
          },
          moneda: {
            type: String
          },
          saldo: {
            type: Number
          },
          cuentas: {
            type: Array
          }
        }
      }

      obtenerCtas() {
        this.idUsr = window.sessionStorage.getItem(0);

        if (this.idUsr != 0) {
          console.log(this.idUsr);
          console.log(this.idCta);
          console.log(this.$.obtenerCtas.headers);

          this.$.obtenerCtas.generateRequest();

        } else {
          document.getElementById("mensajes").innerHTML = "Usuario incorrecto...";
        }
      }

      mostrarCuentas(resultado) {
        console.log("Resultado de cuentas" + resultado.detail.response);
        this.cuentas = resultado.detail.response;
      }

      mostrarTodosError(error) {
        console.log(error.detail.response);
      }
    }

    window.customElements.define(ConsCuentas.is, ConsCuentas);
  </script>
</dom-module>
