<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="cons-usuarios">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 80px;
      }
    </style>

    <iron-ajax auto=""
      id="obtenerUsuarios"
      url="http://localhost:3000/api-uruguay/v1/users"
      method="GET"
      handle-as="json"
      on-response="mostrarTodos"
      on-error="mostrarTodosError">
    </iron-ajax>

    <h1>Usuarios</h1>
    <table class="table table-striped">
      <thead>
        <th>Índice</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{usuarios}}">
          <tr>
            <td>{{index}}</td>
            <td>{{item.id}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.email}}</td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>

  <script>
    class ConsUsuarios extends Polymer.Element {
      static get is() {return 'cons-usuarios';}
      static get properties() {
        return {
          nombre: {
            type: String,
            value: "Esperando respuesta..."
          },
          apellido: {
            type: String
          },
          id: {
            type: Number
          },
          email: {
            type: String
          },
          usuarios: {
            type: Array
          }
        };
      }
      mostrarUno(datos) {
        console.log(datos.detail.response);
        this.nombre = datos.detail.response[0].first_name;
        this.apellido = datos.detail.response[0].last_name;
        this.id = datos.detail.response[0].id;
        this.email = datos.detail.response[0].email;
      }

      mostrarTodos(resultado) {
        console.log(resultado.detail.response)
        this.usuarios = resultado.detail.response
      }

      mostrarTodosError(error) {
        console.log(error.detail.response)
      }
    }
    window.customElements.define(ConsUsuarios.is, ConsUsuarios);
  </script>
</dom-module>
