<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <iron-ajax
      id="hacerAlta"
      url="http://localhost:3000/api-uruguay/v1/users/"
      method="POST"
      handle-as="json"
      body=[[body]]
      headers='{"Content-Type": "application/json"}'
      on-response="mostrarResultadoAlta"
      on-error="mostrarError">
    </iron-ajax>

    <div class="form-inline">
      <table>

        <div class="form-group">
          <tr>
            <td> <label for="inpNombre">Nombre: </label> </td>
            <td> <input id="inpNombre" type="text" value={{nombre::input}} placeholder="Ingrese su nombre" required /> </td>
          </tr>
        </div>

        <div class="form-group">
          <tr>
            <td> <label for="inpApell">Apellido: </label> </td>
            <td> <input id="inpApell" type="text" value={{apellido::input}} placeholder="Ingrese su apellido" /> </td>
          </tr>
        </div>

        <div class="form-group">
          <tr>
            <td> <label for="inpEmail">Email: </label> </td>
            <td> <input id="inpEmail" type="email" value={{email::input}} placeholder="xxx@xxx.xxx" reuqired /> </td>
          </tr>
        </div>

        <div class="form-group">
          <tr>
            <td> <label for="inpContra">Contraseña: </label> </td>
            <td> <input id="inpContra" type="password" value={{password::input}} required /> </td>
          </tr>
        </div>

        <div class="form-group">
          <tr>
            <td> </td>
            <td> <button class="btn btn-primary" on-click="enviarAlta">Usuario Nuevo</button> </td>
          </tr>
        </div>
      </table>
    </div>
  </template>

  <script>
    class AltaUsuario extends Polymer.Element {
      static get is() {return 'alta-usuario';}
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellido: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          body: {
            type: String
          },
          altaOK: {
            type: Boolean,
            value: false
          }
        };
      }

      mostrarResultadoAlta(resultado) {
        this.altaOK = true;
        document.getElementById("mensajes").innerHTML = "Usuario creado correctamente...";
      }

      enviarAlta() {
        this.body = '{"first_name": "' + this.nombre + '", "last_name": "' + this.apellido + '", "email": "' + this.email + '", "password": "' + this.password + '"}';
        this.$.hacerAlta.generateRequest();
      }
      
      mostrarError(error) {
        console.log("Error en alta usuario");
        console.log(error);
        this.altaOk = false;
      }
    }
    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
