<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/logout-usuario/logout-usuario.html">
<link rel="import" href="/src/datos-usuario/datos-usuario.html">
<link rel="import" href="/src/alta-usuario/alta-usuario.html">
<link rel="import" href="/src/alta-cuenta/alta-cuenta.html">
<link rel="import" href="/src/cons-usuarios/cons-usuarios.html">
<link rel="import" href="/src/error404-page/error404-page.html">
<link rel="import" href="/src/home-page/home-page.html">
<link rel="import" href="/src/alta-movs/alta-movs.html">
<link rel="import" href="/src/cons-movs/cons-movs.html">
<link rel="import" href="/src/cons-cuentas/cons-cuentas.html">

<dom-module id="principal-page">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route id="router-principal" route="{{route}}" pattern="/:page" data="{{data}}" tail="{{subroute}}">
    </app-route>
    <iron-pages selected="[[data.page]]" attr-for-selected="name" fallback-selection="error404" role="mail">
      <login-usuario name="login"></login-usuario>
      <logout-usuario name="logout"></logout-usuario>
      <datos-usuario name="datosusr"></datos-usuario>
      <alta-usuario name="altausr"></alta-usuario>
      <alta-cuenta name="altacta"></alta-cuenta>
      <cons-usuarios name="muestrausr"></cons-usuarios>
      <error404-page name="error404"></error404-page>
      <home-page name="home"></home-page>
      <alta-movs name="altamov"> </alta-movs>
      <cons-movs name="consmov"> </cons-movs>
      <cons-cuentas name="consctas"> </cons-cuentas>
    </iron-pages>
  </template>

  <script>
    class PrincipalPage extends Polymer.Element {
      static get is() {
        return 'principal-page';
        document.getElementById("mensajes").innerHTML = "Mensajes...";
      }
      static get properties() {
        return {};
      }
    }
    window.customElements.define(PrincipalPage.is, PrincipalPage);
  </script>
</dom-module>
