<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <iron-ajax
        id="hacerLogout"
        url="http://localhost:3000/api-uruguay/v1/logout"
        method="POST"
        handle-as="json"
        body=[[body]]
        headers='{"Content-Type" : "application/json"}'
        on-response="mostrarResultadoLogout"
        on-error="mostrarError">
    </iron-ajax>

    <div class="row">
      <table>
        <tr>
          <td></td>
          <td> <button class="btn btn-salir" on-click="desloguear">Salir/Logout</button> </td>
          <td></td>
          <td>
            <span hidden$="{{!logado}}">Logout Exitoso, bye...</span>
            <span hidden$="{{nolog}}">Usuario NO logueado</span>
            <span hidden$="{{noexis}}">Usuario incorrecto</span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr></tr>
      </table>
    </div>
  </template>

  <script>
    class LogoutUsuario extends Polymer.Element {
      static get is() {return 'logout-usuario';}
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          body: {
            type: String
          },
          nolog: {
            type: Boolean,
            value: true
          },
          noexis: {
            type: Boolean,
            value: true
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }

      mostrarResultadoLogout(resultado) {
        this.logado = true;
        document.getElementById("holaUsuario").innerHTML = "(Hola/Hello, )";
        document.getElementById("mensajes").innerHTML = "Logout correcto...";
        window.sessionStorage.removeItem(0);
        window.sessionStorage.removeItem(1);
        window.sessionStorage.removeItem(2);
      }

      desloguear() {
        this.nolog = true;
        this.noexis = true;

        var localStoStr = window.sessionStorage.getItem(2);
        var localSto = JSON.parse(localStoStr);
        this.email = localSto;

        this.body = '{"email": "' + this.email + '"}';

        this.$.hacerLogout.generateRequest();
      }

      mostrarError(error) {
        console.log("Error logout");
        console.log(error);
        this.logado = false;
        if (error.detail.request.status == 401) this.nolog = false;
        if (error.detail.request.status == 404) this.noexis = false;
        document.getElementById("mensajes").innerHTML = "Error al hacer el logout...";
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
