<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="home-page">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <h1>Página principal</h1>
    <h2>Bienvenido/Welcome...</h2>
  </template>

  <script>
    class HomePage extends Polymer.Element {
      static get is() {return 'home-page';}
    }
    customElements.define(HomePage.is, HomePage);
  </script>
</dom-module>
