<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-movs">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 100px;
      }
    </style>

    <iron-ajax
      id="hacerAlta"
      url="http://localhost:3000/api-uruguay/v1/users/{{idUsr}}/cuentas/[[idCta]]/movimientos"
      method="POST"
      handle-as="json"
      body=[[body]]
      headers='{"Content-Type": "application/json"}'
      on-response="mostrarResultadoAlta"
      on-error="mostrarError">
    </iron-ajax>

    <div class="form-inline">
      <table>
        <div class="form-group">
          <tr>
            <td> <label for="inpCta">Número de cuenta: </label> </td>
            <td> <input id="inpCta" type="number" value={{idCta::input}} placeholder="Ingrese nro. cuenta" required /> </td>
          </tr>
        </div>
        <div class="form-group">
          <tr>
            <td> <label for="inpImp">Importe: </label> </td>
            <td> <input id="inpImp" type="number" value={{importe::input}} placeholder="Ingrese importe" required /> </td>
          </tr>
        </div>

        <div class="form-group">
          <tr>
            <td> <label for="inpTipo">Tipo Mov.: </label> </td>
            <td> <input id="inpTipo" type="text" value={{tipo::input}} list="'db', 'cr'" placeholder="db o cr" required /> </td>
          </tr>
        </div>

        <div class="form-group">
          <tr>
            <td> <label for="inpDesc">Descripción: </label> </td>
            <td> <input id="inpDesc" type="text" value={{descripcion::input}} /> </td>
          </tr>
        </div>

        <div class="form-group">
          <tr>
            <td> </td>
            <td> <button class="btn btn-primary" on-click="enviarAlta">Alta Movimiento</button> </td>
          </tr>
        </div>
      </table>
    </div>
  </template>

  <script>
    class AltaMovs extends Polymer.Element {
      static get is() {return 'alta-movs';}
      static get properties() {
        return {
          idUsr: {
            type: Number
          },
          idCta: {
            type: Number
          },
          importe: {
            type: Number
          },
          tipo: {
            type: String
          },
          descripcion: {
            type: String
          },
          body: {
            type: String
          },
          altaOK: {
            type: Boolean,
            value: false
          }
        };
      }

      mostrarResultadoAlta(resultado) {
        this.altaOK = true;
        document.getElementById("mensajes").innerHTML = "Alta movimiento correcta...";
      }

      enviarAlta() {
        this.idUsr = window.sessionStorage.getItem(0);

        if (this.idUsr != 0 ) {
          if (this.idCta != 0 && this.idCta != null) {
            if (this.tipo == 'db' || this.tipo == 'cr') {
              this.body = '{"importe": "' + this.importe + '", "tipo": "' + this.tipo + '", "descripcion": "' + this.descripcion + '"}';
              this.$.hacerAlta.generateRequest();
            } else {
              document.getElementById("mensajes").innerHTML = "Tipo de movimiento es obligatorio";
            }
          } else {
            document.getElementById("mensajes").innerHTML = "Número de cuenta es obligatorio";
          }
        } else {
          document.getElementById("mensajes").innerHTML = "Usuario incorrecto...";
        }
      }

      mostrarError(error) {
        console.log("error en alta de movimiento");
        console.log(error);
        this.altaOk = false;
      }
    }

    window.customElements.define(AltaMovs.is, AltaMovs);
  </script>
</dom-module>
