<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="cons-movs">
  <template>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      :host {
        display: block;
        padding: 80px;
      }
    </style>

    <iron-ajax
      id="obtenerMovs"
      url="http://localhost:3000/api-uruguay/v1/users/{{idUsr}}/cuentas/[[idCta]]/movimientos"
      method="GET"
      handle-as="json"
      on-response="mostrarTodosLst"
      on-error="mostrarTodosError">
    </iron-ajax>


    <div class="form-inline">
      <table>
        <div class="form-group">
          <tr>
            <td> <label for="idCta">Número de cuenta: </label> </td>
            <td> <input id="idCta" type="number" value={{idCta::input}} required /> </td>
            <td> <button class="btn btn-primary" on-click="obtenerMovs">Listar</button> </td>
          </tr>
        </div>
      </table>
    </div>

    <h1>Movimientos</h1>

    <table class="table table-striped">
      <thead>
        <th>Id</th>
        <th>Fecha</th>
        <th>Importe</th>
        <th>Tipo</th>
        <th>Descripcion</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{movimientos}}">
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.importe}}</td>
            <td>{{item.tipo}}</td>
            <td>{{item.descripcion}}</td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>

  <script>
    class ConsMovs extends Polymer.Element {
      static get is() {return 'cons-movs';}
      static get properties() {
        return {
          idUsr: {
            type: Number,
            value: 0
          },
          idCta: {
            type: Number,
            value: 0
          },
          id: {
            type: Number,
            value: 0
          },
          fecha: {
            type: String
          },
          importe: {
            type: Number
          },
          tipo: {
            type: String
          },
          descripcion: {
            type: String
          },
          movimientos: {
            type: Array
          }
        };
      }

      obtenerMovs(resultado) {
        this.idUsr = window.sessionStorage.getItem(0);

        if (this.idUsr != 0){
          this.$.obtenerMovs.generateRequest();
        } else {
          document.getElementById("mensajes").innerHTML = "Usuario incorrecto...";
        }
      }

      mostrarTodosLst(resultado) {
        console.log(resultado.detail.response);
        this.movimientos = resultado.detail.response[0].movimientos;
      }

      mostrarTodosError(error) {
        console.log(error.detail.response);
      }
    }
    window.customElements.define(ConsMovs.is, ConsMovs);
  </script>
</dom-module>
